.color{
    background-color: #B91450;
    height: 1080px;
    max-width: 2000px;
}

.title{
    font-weight: bold;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.data{
    color: #B91450;
    font-weight: bold;
    text-align: center;
}

.priceContainer{
    background-color: white;
    border-radius: 4px;
    box-shadow: 10px;
    text-align: center;
}

.priceContainer h2{
    text-align: left;
}

.resume{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.buttons{
    padding-top: 40px;
    padding-bottom: 40px;
}